<%
  set_meta_tags(
    title: "Пины",
    description: "Самые класные пины",
    keywords: "пины, картинки, дизайн"
  )
%>

<%= turbo_stream_from "pins_likes" %>

<%= link_to "New pin", new_pin_path, id: "new_pin_link", data: { turbo_stream: true } %>

<br><br>

<div>
  <%= link_to "All pins", pins_path %>
  
  <% Pin.tag_counts_on(:categories).each do |tag| %>
    <%= link_to tag.name, tagged_pins_path(tag.name) %>
  <% end %>
</div>

<div>
  <%= link_to "All pins", pins_path %>
  
  <% Pin.tag_counts_on(:tags).each do |tag| %>
    <%= link_to tag.name, tagged_pins_path(tag.name) %>
  <% end %>
</div>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Pins" %>

<%
  counter = 0

  @pins.each do |pin|
    counter += 1
  end
%>

<%= counter %>

<%#= @pins.count %>
<%#= @pins.size %>
<%#= @pins.class_name %>

<div id="pin_index_heading">
  <h1>Пины (<%#= @pins.count %>)</h1>
  <p><%#= @pins.count %> <%#= Russian.p(@pins.count, "пин", "пина", "пинов") %></p>
</div>

<div id="pins">
  <% @pins.each do |pin| %>
    <%= render pin %>
  <% end %>
</div>
