<%
  set_meta_tags(
    title: @pin.title,
    description: @pin.description,
    keywords: "пины, картинки, дизайн"
  )
%>

<%= turbo_stream_from "pins_likes" %>

<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag dom_id(@pin) do %>
  <%= render @pin %>

  <div>
    <%= link_to "Edit this pin", edit_pin_path(@pin) %> |
    <%= link_to "Back to pins", pins_path %>

    <%= button_to "Destroy this pin", @pin, method: :delete %>
  </div>
<% end %>

<%= render partial: "comments/form", locals: { url: pin_comments_path(@pin), comment: Comment.new } %>

<%= turbo_stream_from "comments" %>

<div id="comments">
  <% @pin.comments.no_replies.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</div>