<% content_for :breadcrumbs do %>
<div>breadcrumbs</div>
<% end %>

<%= t :hello %>

<div class="images">
  <div class="image" id="bgPNG"></div>
  <div class="image" id="bgJPG"></div>
  <div class="image" id="bgSVG"></div>

  <%= image_tag "image.png" %>
  <%= image_tag "image.jpg" %>
  <%= image_tag "image.svg" %>
</div>

<div class="container">
  <div class="item"></div>
  <div class="item wide"></div>
</div>

<div class="containerSCSS">
  <div class="itemSCSS"></div>
  <div class="itemSCSS wideSCSS"></div>
</div>

<% counter = 1 %>

<% 3.times do %>
<%= render 'counter', counter: counter %>
<% counter += 1 %>
<% end %>

<%= api_v1_pins_url %>

<%= render "dice" %>

<%= link_to "Roll dice", welcome_dice_path, data: { turbo_stream: true } %>

<br><br><br><br><br><br>
<%= SecureRandom.hex(10) %>
<br><br><br><br><br><br>

<div class="card">
  <a class="postLink" href=""></a>

  <div class="cardContent">
    <div class="cardTagList">
      <a class="cardTag" href="">Бла</a>
      <a class="cardTag" href="">Бла</a>
      <a class="cardTag" href="">Бла</a>
    </div>
  </div>
</div>